# Python garbage
*__pycache__
*.ipynb_checkpoints
.vscode/*

# Folders (keep here, whatever you don't want to push)
bin/*
build/*
!bin/.gitkeep
temp/*
CMakeFiles/*
Bubble_dynamics_simulation*
#*parameter_studies/*
*jacobians/*

/.venv/
/tmp_data/
/coarse_mesh/tmp_data/
/raw_data/
/raw_data_old/
/coarse_mesh/raw_data/


# Unwanted file formats
*.csv
*.out
*.asv

# Unwanted files
*log*
#*parameters.py*
*copy*
*ignore*
!.gitignore